Abgabe von: Mat.Nr.: 9452857 & 1113800

Before doing anything installing all needed dependencies

!pip3 install pandas
!pip3 install scikit-learn

# Aufgabe 1

In [5]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import set_config
set_config(transform_output="pandas")

Import data

In [6]:
white_raw = pd.read_csv(os.getcwd() + "/dataset/winequality-white.csv", delimiter=";")
red_raw = pd.read_csv(os.getcwd() + "/dataset/winequality-red.csv", delimiter=";")

Split wine in Test and Training Data (75% / 25%)

In [7]:
white_training_Data, white_test_data, white_training_scores, white_test_scores = (train_test_split(white_raw.drop("quality", axis=1), white_raw['quality'],test_size=0.25, random_state=39))

red_training_Data, red_test_data, red_training_scores, red_test_scores = (train_test_split(red_raw.drop("quality", axis=1), red_raw['quality'],test_size=0.25, random_state=39))

In [8]:
white_training_Data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
3965,7.3,0.380,0.23,6.50,0.050,18.0,102.0,0.99304,3.10,0.55,11.2
3954,6.3,0.330,0.20,17.90,0.066,36.0,161.0,0.99910,3.14,0.51,8.8
580,7.4,0.410,0.66,10.80,0.051,77.0,194.0,0.99760,3.05,0.46,8.7
1637,8.1,0.120,0.49,1.20,0.042,43.0,160.0,0.99340,3.13,0.48,9.7
1310,5.2,0.365,0.08,13.50,0.041,37.0,142.0,0.99700,3.46,0.39,9.9
...,...,...,...,...,...,...,...,...,...,...,...
3195,7.0,0.210,0.42,5.30,0.037,36.0,123.0,0.99321,3.14,0.52,10.9
2275,7.5,0.290,0.26,14.95,0.067,47.0,178.0,0.99838,3.04,0.49,9.2
1088,7.4,0.200,0.37,16.95,0.048,43.0,190.0,0.99950,3.03,0.42,9.2
105,7.3,0.130,0.32,14.40,0.051,34.0,109.0,0.99740,3.20,0.35,9.2
3465,6.8,0.190,0.34,1.90,0.040,41.0,108.0,0.99000,3.25,0.45,12.9